
@{
    ViewBag.Title = "普惠流程";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="width:760px;margin:0 auto;">
    <div style="width:760px;height:240px;margin-bottom:10px; background-image:url('../../Content/images/phlc.png')">
    </div>
    <div style="float:left;width:220px;height:800px;background: #FFFFFF url(../../Content/images/phleft.png) no-repeat;">
    </div>
    <div style="float:right;width:540px;height:800px;background-color:#ffffff">
        <ul class="lc" style="margin-top:40px;">
            <li style="height:80px;">&nbsp;&nbsp;&nbsp;&nbsp;申请人按照办事指南要求备齐纸质材料，到示范区政务服务中心政策兑现窗口填写《政策兑现事项申请表》，递交印证材料，正式提出申请。</li>
            <li style="height:90px;">&nbsp;&nbsp;&nbsp;&nbsp;政策兑现窗口就企业填写的《政策兑现事项申请表》是否正确规范、提供的印证材料是否齐备等内容进行审核，符合要求的予以收件。需要补正申请材料的，告知申请人。</li>
            <li style="height:90px;">&nbsp;&nbsp;&nbsp;&nbsp;业务主管部门，核定印证材料的真实性、是否符合申请标准、拟奖补额度等内容。</li>
            <li style="height:85px;">&nbsp;&nbsp;&nbsp;&nbsp;相关部门会审形成综合意见。</li>
            <li style="height:85px;">&nbsp;&nbsp;&nbsp;&nbsp;分管领导审批。</li>
            <li style="height:85px;">&nbsp;&nbsp;&nbsp;&nbsp;政策兑现窗口在政务服务中心或示范区网站进行为期5天的公示，公示无异议的，纳入兑现计划；公示有异议的，由相关部门进行异议处理，处理结果反馈政策兑现窗口。</li>
            <li style="height:85px;">&nbsp;&nbsp;&nbsp;&nbsp;政策兑现窗口公布政策兑现通知。企业根据通知向政策兑现窗口递交拨付申请及相关凭证。财政管理运营部根据拨付申请及凭证，拨付兑现资金。</li>
            <li style="height:90px;">&nbsp;&nbsp;&nbsp;&nbsp;支付完结后，财政管理运营部提交相关收付款明细复印件至政策兑现窗口备案。</li>
            <li style="height:60px;">&nbsp;&nbsp;&nbsp;&nbsp;企业确认资金到账。</li>
        </ul>
    </div>
</div>
